@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');

*,
*:after,
*:before {
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
}

*,:hover,:active{
    outline: none!important;    
}
* {
	font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
    overflow-x: hidden;
    color: #333333;
    background-color: #E5E5E5;
}
a {
	text-decoration: none;
	transition: color .3s;
}

p {
	margin: 0 0 20px;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.d-flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.clearfix::after {
    display: block;
    content: '';
    height: 0;
    visibility: hidden;
    clear: both;
}

.container {
	max-width: 1390px;
	padding: 0 20px;
	margin: 0 auto;
    position: relative;
}
.wrapper {
	position: relative;
}


/* Calibration page */

.calibration_page {
    max-height: 100vh;
}
.calibration {
    color: #fff;
    background-color: #4A46F8;
    padding-top: 123px;
    text-align: center;        
    padding: 50px 65px 60px;
    height: 100vh;
    overflow: hidden;
}
.calibration_inner {
    padding-top: 87px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.calibration_inner.watching > .top,
.calibration_inner.watching > .bottom,
.calibration_inner.watching > .right,
.calibration_inner.watching > .left {
    display: block;
}
.calibration_inner.watching > .top > span:last-child {
    right: 0;
    left: auto;
}
.calibration_inner.watching > .right > span:last-child {
    bottom: 0;
    top: auto;
}
.calibration_inner.watching > .bottom > span:last-child {
    right: 0;
    left: auto;
}
.calibration_inner.watching > .left > span:last-child {
    bottom: 0;
    top: auto;
}
.calibration_inner > .top,
.calibration_inner > .bottom,
.calibration_inner > .right,
.calibration_inner > .left {
    position: absolute;
    top: 0;
    display: none;    
}
.calibration_inner > .top .fa::before {
    position: absolute;
    top: -6px;
    right: -4px;
}
.calibration_inner > .right .fa,
.calibration_inner > .bottom .fa,
.calibration_inner > .left .fa {
    font-size: 0;
}
.calibration_inner > .right .fa::before {
    position: absolute;
    bottom: -8px;   
    transform: translateX(-50%); 
}
.calibration_inner > .bottom .fa::before {
    position: absolute;       
    top: -6px;
    left: -6px;
}
.calibration_inner > .left .fa::before {
    position: absolute;       
    top: -6px;
    transform: translateX(-50%); 
}
.calibration_inner > .border > span {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;  
    transition: font-size .3s;
}


.calibration_inner > .top,
.calibration_inner > .bottom {
    width: 100%;
    height: 1px;
    left: 0;
}
.calibration_inner > .bottom {
    bottom: 0;
    top: auto;
}
.calibration_inner > .left,
.calibration_inner > .right {
    width: 1px;
    height: 100%;
}
.calibration_inner > .left {
    left: 0;
}
.calibration_inner > .right {
    right: 0;
}
.calibration_inner .watch_wrap {
    position: absolute;
    display: inline-flex;
    align-items: center;
    top: 0;
    left: -20px;
    transform: translateY(-50%);
    z-index: 99;
    transition: all 1s linear;
    display: none;
    animation-iteration-count: infinite;
}
.calibration_inner .watch_wrap.nohover {
    pointer-events: none;
}
.calibration_inner .watch_wrap i {
    margin-left: -5px;
    display: none;
}
.calibration_inner.watching .watch_wrap i {
    display: block;
}
.calibration_inner .watch_wrap.side i {
    position: absolute;
    transform: rotate(90deg);
    top: -11px;
    right: 71px;
}
.calibration_inner .watch_wrap.bottom i {
    transform: rotate(180deg);
    right: -5px;
    position: absolute;
}
.calibration_inner .watch_wrap.left i {
    transform: rotate(-90deg);
    left: 35%;
    bottom: -10px;
    position: absolute;
}
.calibration_inner .watch {
    min-width: 170px;
}

h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.295em;
    text-transform: uppercase;
}
.calibration_title {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 20px;
}
.calibration_title h2 {
    margin: 0;
}
.calibration_title > span {
    margin-right: 5px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.295em;
    text-transform: uppercase;
}

.calibration_desc {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}
.calibration_window {
    display: inline-block;
    position: relative;
    padding: 45px 42px 0 54px;
    max-width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    margin-top: 18px;
    text-align: left;
    overflow: auto;
    margin-bottom: -65px;
}
.close {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 42px;
    top: 51px;
    cursor: pointer;
    -webkit-transition: .4s ease;
    transition: .4s ease;
}
.close:hover{
    opacity: 0.6;
}
.close::before {
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 1;
}
.close::after {
    z-index: 2;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.close::before,.close::after {
    position: absolute;
    content: '';
    height: 20px;
    width: 2px;
    background-color: #7B7B7B;
    top: 50%;
    left: 50%;
}

.calibration_window .title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #3E3E3E;
}

.calibration_window .calibration_image {
    margin-top: 50px;
    max-height: 490px;
    overflow: hidden;
    position: relative;
}
.calibration_window .calibration_image > img {
    max-height: 445px;
}
.calibration_window .calibration_image .calibration_indicator {
    position: absolute;
    width: 50px;
    top: 35.5%;
    left: 37.5%;
}
.calibration_window .calibration_image .calibration_indicator.right {
    left: auto;
    right: 36.5%;
}
.calibration_window .calibration_image .calibration_indicator.bottom {
    left: 50%;
    transform: translateX(-50%);
    bottom: 37.5%;
    top: auto;
}
.calibration_window .footer {
    text-align: center;
}
.calibration_window .text {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #7A7A7A;
    padding: 32px 11%;
    display: inline-block;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px 10px 0 0;
    margin-top: -28px;
    background-color: #fff;
    position: relative;
}
.calibration_window .text > span {
    display: none;
}
.calibration_window .text > span.active {
    display: inline;
}
.calibration .watch {
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #F84646;
    color: #fff;
    padding: 14px 16px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.calibration button.test,
.calibration button.end_test {
    height: 60px;
    background: #4A46F8;
    border-radius: 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    width: 214px;
    max-width: 100%;
    cursor: pointer;
}
.calibration button.end_test {
    display: none;
}
.calibration button.test.active {
    background-color: #CDCDCD;
}
@media all and (max-height: 900px) {
    .calibration_window {
        padding-top: 30px;
    }
    .calibration_inner {
        padding-top: 0;
    }
    .calibration_window .calibration_image {
        margin-top: 25px;
    }
    .calibration .close {
        top: 35px;
    }
    .calibration_window .text {
        padding-top: 28px;
        padding-bottom: 28px;
    }
}
@media all and (max-height: 800px) {
    .calibration {
        padding-top: 45px;
        padding-bottom: 45px;
        height: 100vh;
    }
    .calibration_inner {
        padding-top: 30px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .calibration_title {
        margin-bottom: 10px;
    }
    .calibration_window {
        margin-top: 15px;
        padding-top: 15px;
        margin-bottom: -45px;
    }
    .calibration_window .calibration_image {
        margin-top: 15px;
    }
    .calibration .close {
        top: 20px;
    }
    .calibration_title h2 {
        font-size: 30px;
        line-height: 100%;
    }
    .calibration_desc {
        margin-bottom: 10px;
    }
    .calibration_window .text {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .calibration_window .calibration_image img {
        max-height: 390px;
    }
    .calibration_window .calibration_image {
        width: auto;
    }
    .calibration_window .calibration_image .calibration_indicator {
        max-width: 50px;
        top: 35.5%;
    }
    .calibration_window .calibration_image .calibration_indicator.bottom {
        bottom: 38.5%;
    }
}
@media all and (max-height: 700px) {
    .calibration {
        padding-top: 45px;
        padding-bottom: 45px;
        height: 100vh;
    }
    .calibration_inner {
        padding-top: 30px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .calibration_title {
        margin-bottom: 10px;
    }
    .calibration_window {
        margin-top: 15px;
        padding-top: 15px;
        margin-bottom: -45px;
    }
    .calibration_window .calibration_image {
        margin-top: 15px;
    }
    .calibration .close {
        top: 20px;
    }
    .calibration_title h2 {
        font-size: 30px;
        line-height: 100%;
    }
    .calibration_desc {
        margin-bottom: 10px;
    }
    .calibration_window .text {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .calibration_window .calibration_image img {
        max-height: 305px;
    }
    .calibration_window .calibration_image {
        width: auto;
    }
    .calibration_window .calibration_image .calibration_indicator {
        max-width: 45px;
        top: 35.5%;
    }
    .calibration_window .calibration_image .calibration_indicator.bottom {
        bottom: 38.5%;
    }
    .calibration button.test,
    .calibration button.end_test {
        height: 45px;
    }
}
@media all and (max-height: 600px) {
    .calibration {
        padding-top: 30px;
        padding-bottom: 30px;
        height: 100vh;
    }
    .calibration_inner {
        padding-top: 30px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .calibration_title {
        margin-bottom: 10px;
    }
    .calibration_window {
        margin-top: 15px;
        padding-top: 15px;
        margin-bottom: -30px;
    }
    .calibration_window .calibration_image {
        margin-top: 15px;
    }
    .calibration .close {
        top: 20px;
    }
    .calibration_title h2 {
        font-size: 30px;
        line-height: 100%;
    }
    .calibration_desc {
        margin-bottom: 10px;
    }
    .calibration_window .text {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .calibration_window .calibration_image img {
        max-height: 220px;
    }
    .calibration_window .calibration_image {
        width: auto;
    }
    .calibration_window .calibration_image .calibration_indicator {
        max-width: 30px;
        top: 35.5%;
    }
    .calibration_window .calibration_image .calibration_indicator.bottom {
        bottom: 38.5%;
    }
    .calibration button.test,
    .calibration button.end_test {
        width: 140px;
    }
}

/* Registration Page */

.registration {
    background-color: #4A46F8;
    min-height: 100vh;
}
.registration .wrapper {
    text-align: center;
    padding-top: 120px;
}
.page_title,
.description {
    color: #fff;
}
.page_title {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 20px;
}
.page_title h1{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.295em;
    text-transform: uppercase;
    margin: 0;
}

.page_title span {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.295em;
    text-transform: uppercase;
    margin-right: 5px;
}

.description {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.registration_form {
    width: 57%;
    margin: 0 auto;
    margin-top: 70px;
}
.step {
    background-color: #fff;
    border-radius: 10px;
    padding: 0 37px 40px 46px;    
}
.step .header {
    position: relative;
    padding-top: 37px;
    padding-bottom: 23px;
}
.step .header .title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #7A7A7A;
    text-align: left;
}
.step .header .close {
    top: 35px;
    right: 0;
}

.registration_form .form_title,
.login_form .form_title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #3C3C3C;
    margin-bottom: 24px;
    text-align: left;
}

.registration_form .form {
    width: 315px;
    max-width: 100%;
    margin: 0 auto;
}
.registration_form .form_group > input,
.login_form .form input,
.registration_form .form .nice-select, 
.form .ms-parent.multiple {
    width: 100%;
    height: 60px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #898989;
    padding: 0 23px;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
    float: none;
}
.ms-choice {
    height: 100%;    
    border: none;
    background-color: transparent;
}
.ms-choice .placeholder,
.ms-choice>span,
.ms-drop span {
    font-size: 13px;
    line-height: 15px;
    color: #808080;
}
.ms-parent.multiple {
    width: 100% !important;
}
.registration_form .ms-choice .placeholder {
    line-height: 58px;
}
.registration_form .form_group.warning > span {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #898989;
}
.registration_form .form .ms-choice>span {
    font-size: 14px;
    color: #898989;
}

.registration_form .form .ms-drop span {
    font-size: 14px;
    line-height: 16px;
    color: #898989;
}
.ms-choice>span {
    padding-left: 23px;
    line-height: 60px;
}
.ms-choice>div.icon-caret {
    border-top-color: #BCBCBC;
}
.ms-choice>div.icon-caret.open {
    border-bottom-color: #BCBCBC;
}
.ms-choice>div.icon-caret {
    border-width: 4px 4px 0 4px;
}
.ms-choice>div.icon-caret.open {
    border-width: 0 4px 4px 4px;
}
.ms-drop {
    left: 0;
    border: 1px solid #E4E4E4;
}
.ms-drop input[type="radio"], 
.ms-drop input[type="checkbox"] {
    margin-top: 0;
}
.registration_form .form_group,
.login_form .form_group {
    margin-bottom: 14px;
    text-align: left;
}
.registration_form .form_group:last-of-type {
    margin-bottom: 32px;
}
.registration_form .btn {
    height: 60px;
    background: #4A46F8;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    width: 100%;
    transition: background .3s;
}
.registration_form .btn:hover {
    background: rgba(74, 70, 248, 0.7);
}

.registration_form .nice-select {
    height: 60px;
    display: inline-flex;
    align-items: center;
}
.registration_form .nice-select:after {
    content: url('../img/select-icon.svg');
    line-height: 66%;
    transform: none;
    border: none;
}
.registration_form .nice-select.open:after {
    transform: rotate(180deg);
}

.step2 .form {
    padding: 0 47px;
    width: 100%;
    margin: 0 -5px;
    flex-wrap: wrap;
    justify-content: center;
}
.step2 .form .form_column {
    margin-left: 5px;
    margin-right: 5px;
    width: calc(50% - 10px);
    justify-content: space-between;
    flex-direction: column;
}
.step2 .form > .form_title {
    width: calc(100% - 10px);
}
.step2 .btn {
    width: 315px;
    display: inline-block;
}
.closable {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #898989;
    background: #E4E4E4;
    border: 1px solid #E4E4E4;
    border-radius: 10px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    padding-right: 25px;
    margin-right: 5px;
}
.closable.close {
    position: relative;
    width: auto;
    top: 0;
    right: 0;
}
.closable.close:hover {
    opacity: 1;
}
.closable.close:hover::before,
.closable.close:hover::after {
    opacity: .6;
}
.closable.close::before,
.closable.close::after {
    height: 10px;
    width: 1px;
    right: 10px;
    left: auto;
}
.registration_form .form_group.warning {
    height: 60px;
    padding-left: 10px;
    padding-right: 18px;
    border: 1px solid #FFD80E;
    border-radius: 10px;
    align-items: center;
}
.registration_form .form_group.warning > * {
    display: inline-block;
    vertical-align: middle;
}
.registration_form .form_group.warning img {
    margin-right: 6px;
}
.registration_form .chosen {
    padding-top: 14px;
}
.step3 .header {
    padding-bottom: 80px;
}
.step3 .form {
    padding-left: 47px;
    padding-right: 47px;
    width: 100%;
    margin: 0 -7px;
    flex-wrap: wrap;
    justify-content: center;
}
.step3 .form .form_block {
    width: calc(50% - 14px);
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 14px;
    height: 60px;
    background: #EBEBEB;
    border-radius: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #898989;   
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 21px;
}
.step3 .form .form_block.active {
    background-color: #2DCC13;
    color: #fff;
}
.step3 .form .form_block.active::after {
    content: url(../img/checkmark.svg);
    display: inline-block;
}
.step3 .form .form_title {
    width: calc(100% - 14px);
    margin-left: 7px;
    margin-right: 7px;
}
.registration_form input[type=submit],
.login_form input[type=submit] {
    background-color: #4A46F8;
    margin-top: 60px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    width: 315px;
    cursor: pointer;
    transition: background-color .3s;
}

.registration_form input[type=submit]:hover,
.login_form input[type=submit]:hover {
    background-color: rgba(74, 70, 248, 0.7);
}


@media all and (max-width: 1200px) {
    .step2 .form .form_column {
        width: calc(100% - 10px);
    }
    .step3 .form .form_block {
        width: calc(100% - 14px);
    }
}
@media all and (max-width: 768px) {
    .registration_form {
         width: 80%;
    }
}
@media all and (max-width: 425px) {
    .registration_form {
         width: 100%;
    }
}
@media all and (max-height: 800px) {
    .registration .wrapper {
        padding-top: 10vh;
        padding-bottom: 0;
    }
    .registration_form {
        margin-top: 5vh;
    }
    .step .header {
        padding-top: 25px;
    }
    .registration_form .form_group > input,
    .registration_form .btn,
    .registration_form .form .ms-parent.multiple,
    .registration_form .form .nice-select {
        height: 40px;
    }
    .registration_form .form .ms-choice>span {
        line-height: 40px;
    }
}
@media all and (max-height: 700px) {
    .registration .wrapper {
        padding-top: 5vh;
    }
    .step .header {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .step .header .close {
        top: 20px;
    }
}
@media all and (max-height: 600px) {
    .registration .wrapper {
        padding-top: 3vh;
    }
    .page_title {
        margin-bottom: 10px;
    }
    .step .header .title {
        font-size: 20px;
    }
    .step .header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .step .header .close {
        top: 15px;
    }
    .registration_form .form_group:last-of-type {
        margin-bottom: 15px;
    }
    .step {
        padding-bottom: 20px;
    }
}

/* Login Page */
.login {
    background-color: #4A46F8;
    min-height: 100vh;
}
.login .wrapper {
    text-align: center;
    padding-top: 13vh;
}
.login_form {
    width: 45%;
    margin: 0 auto;
    margin-top: 16vh;
    background-color: #fff;
    border-radius: 10px;
    padding-top: 9.5vh;
    position: relative;
    padding-bottom: 15vh;
}
.login_form .close {
    top: 37px;
    right: 36px;
}
.login_form .form {
    width: 430px;
    max-width: 75%;
    margin: 0 auto;
}
.login_form .form input {
    padding: 0 30px;
}
.login_form input[type=submit] {
    margin-top: 0;
    width: 100%;
}

@media all and (max-width: 768px) {
    .login_form {
         width: 80%;
    }
}
@media all and (max-height: 800px) {
    .login_form {
        margin-top: 10vh;
        padding-top: 7.5vh;
        padding-bottom: 10vh;
    }
}
@media all and (max-height: 700px) {
    .login_form {
        margin-top: 10vh;
        padding-top: 7.5vh;
        padding-bottom: 8vh;
    }
}
@media all and (max-height: 600px) {
    .login .wrapper {
        padding-top: 5vh;
    }
    .login_form {
        margin-top: 5vh;
        padding-top: 7.5vh;
        padding-bottom: 8vh;
    }
}



/*Main Page */

.page.main {
    height: 100vh;
    background-color: #4A46F8;
}
.page.main .wrapper {
    padding-top: 38vh;
    text-align: center;
}
.page.main .wrapper .page_links {
    display: inline-block;
    margin-top: 15vh;
}
.page.main .wrapper .btn {
    height: 60px;
    background: #5F5BFF;
    border: 1px solid transparent;
    border-radius: 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 60px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    width: 315px;
    max-width: 100%;
    transition: background .3s, border-color .3s;
    display: inline-block;
    margin: 0 10px;
}
.page.main .wrapper .btn:hover {
    background: rgba(74, 70, 248, 0.7);
    border-color: #5F5BFF;
}

/* Campaigns Page*/

.content {
    padding: 17px 4.3% 0 37px;
    width: calc(100% - 355px);
}
.tab_link {
    position: relative;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #5F5F5F;
    height: 32px;
    background-color: #EEEEEE;
    height: 32px;
    line-height: 32px;
    border-right: 1px solid #D3D3D3;
    float: left;
    padding: 0 33px;
    transition: background-color .3s, color .3s;
}
.tabs.withbutton .tab_link:not(:first-of-type) {
    padding-left: 40px;
}
.tabs.withbutton .tab_link:nth-of-type(2) i {    
    left: 13px;
}
.tab_link:hover {
    background-color: #4A46F8;
    color: #fff;
}
.tab_link.active {
    border-right: 0;
    background-color: #4A46F8;
    color: #fff;
    border-radius: 5px;
}
.tab_link:last-of-type {
    border-radius: 0 5px 5px 0;
    border-right: 0;    
}
.tab_link i {
    font-size: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    color: #B2B2B2;
    transition: color .3s;
}
.tab_link:first-of-type i {
    left: 13px;
}
.tab_link.active i,
.tab_link:hover i {
    color: #fff;
}
.tabs {
    padding: 12px 15px 10px;
    border-radius: 10px;
    background-color: #fff;
}
.tabs.withbutton {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.tabs.withbutton .tab_link:nth-of-type(2)::before {    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13px;
}
.tabs .add_campaign {
    background-color: #4A46F8;
    padding-left: 60px;
    color: #fff;
    border-radius: 10px 0px 0px 10px;
    height: 53px;
    line-height: 53px;
    width: 242px;
    margin-right: 33px;
}
.tabs .add_campaign::before {
    content: '';
    background-color: #fff;
    height: 16px;
    width: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 24px;
}
.tabs .add_campaign::after {
    content: '';
    background-color: #fff;
    height: 2px;
    width: 16px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 17px;
}
.sidebar {
    width: 355px;
    background-color: #fff;
    padding-top: 14px;
    min-height: 100vh;
}
.sidebar {
    justify-content: space-between;
    flex-direction: column;
}
.sidebar .top {
    margin-left: 45px;
}
.logo_text {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.295em;
    text-transform: uppercase;
    color: #4A46F8;
    margin-left: 22px;
    display: inline-block;
    vertical-align: middle;
}

.mob_toggle {
    width: 19px;
    display: inline-block;
    vertical-align: middle;
}
.mob_toggle:hover span {
    background-color: #4A46F8;
}
.mob_toggle span {
    background-color: #E5E5E5;
    display: block;
    margin-bottom: 3px;
    height: 3px;
    width: 100%;
    transition: background-color .3s;
}
.user_avatar {
    margin-top: 55px;
    width: 137px;
    height: 137px;
    border-radius: 50%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.middle {
    text-align: center;
}
.user_id {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.295em;
    text-transform: uppercase;
    color: #4A46F8;
    margin-top: 35px;
    text-align: center;
}
.user_name {
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #555555;
    text-align: center;
    margin-top: 10px;
}
.logout_btn {
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #4A46F8;
    margin-top: 10px;
    display: inline-block;
}
.user_menu {
    padding-left: 26px;
    margin-top: 40px;
}
.user_menu li {
    margin-bottom: 5px;
}
.user_menu li a {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.065em;
    color: #737373;
    padding: 16px 55px;
    display: block;
    width: 100%;
    transition: background-color .3s, color .3s, width .3s;
    border-radius: 5px;
}
.user_menu li a:hover,
.user_menu li.active a {
    color: #fff;
    width: calc(100% + 10px);
    background-color: #4A46F8;
}

.user_menu li a .badge {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.065em;
    color: #555555;
    padding: 4px 13px;
    background: #EBEBEB;
    border-radius: 5px;
    margin-left: 5px;
}

.sidebar_help {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.065em;
    color: #7D7D7D;
    margin-bottom: 70px;
    margin-left: 80px;
}
.sidebar_help a {
    color: #7D7D7D;
}
.campaigns .content {
    padding-right: 
}
.campaigns_list_top {
    padding: 14px 0 12px;
}
.campaigns_list_top > div {
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #555555;
    float: left;
}
.campaigns_list_top .header_right {
    width: 36.5%;
    padding-left: 30px;
}
.campaigns_list_top .header_left {
    width: 63.5%;
    padding-left: 15px;
}
.campaign_item_main {
    width: 63.5%;
    border-right: 1px solid #EEEEEE;
    display: inline-flex;
    align-items: center;
}
.campaign_item_info {
    width: 36.5%;
}
.campaign_item {
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 15px;
    min-height: 93px;    
}
.campaign_item.viewed .campaign_title .viewed_text {
    display: block;
}
.campaign_item.viewed .thumb img {
    filter: grayscale(1);
}
.campaign_item.viewed .campaign_title a {
    color: #6D6D6D;
}
.campaign_item.viewed .campaign_counter_top .current,
.campaign_item.viewed .campaign_counter_top .total,
.campaign_item.viewed .campaign_counter_bottom .status {
    color: #A8A8A8;
}
.campaign_item.viewed .campaign_item_info .review_count,
.campaign_item.viewed .campaign_progress_wrap .campaign_progress::before {
    background-color: #A8A8A8 !important;
}
.campaign_item .thumb {
    max-width: 242px;
    position: relative;
    flex: 1 0 auto;
}
.campaign_item .thumb img {
    object-fit: cover;
    display: block;
}
.campaign_item .thumb .video_popup::before {
    content: url('../img/video-play.svg');
    position: absolute;
    width: 45px;
    height: 45px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1;
}
.campaign_item .campaign_title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.campaign_item .campaign_main {
    padding: 18px 20px;
}
.campaign_item .campaign_title a {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.campaign_item .campaign_title a:hover {
    color: #4A46F8;
}
.campaign_item .campaign_item_info {
    padding-right: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.campaign_item .campaign_item_info .review_count {
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    color: #3E3E3E;
    width: 60px;    
    height: 56px;
    background: #E3E3E3;
    border-radius: 10px;
    text-align: center;
    flex: 0 0 auto;
}
.campaign_item .campaign_item_info .review_count.red {
    background-color: #F42F2F;
    color: #fff;
}
.campaign_item .campaign_item_info .review_count.yellow {
    background-color: #F7E012;
    color: #fff;
}
.campaign_item .campaign_item_info .review_count.green {
    background-color: #0BC513;
    color: #fff;
}
.campaign_item .campaign_title .viewed_text {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #8D8D8D;
    display: block;
    margin-top: 7px;
    display: none;
}

.campaign_item .campaign_progress_wrap {
    margin-left: 5px;
    width: 152px;
}
.campaign_item .campaign_progress_wrap .campaign_progress {
    width: 100%;
    height: 6px;
    background: #D5D5D5;
    border-radius: 3px;
    display: block;
    position: relative;
    margin-bottom: 2px;
}
.campaign_item .campaign_progress_wrap .campaign_progress::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 33%;
    border-radius: 3px;
}
.campaign_item .campaign_progress_wrap .campaign_progress.yellow::before {
    background-color: #FFC100;
}
.campaign_item .campaign_progress_wrap .campaign_progress.red::before {
    background-color: #F72615;
}
.campaign_item .campaign_progress_wrap .campaign_progress.green::before {
    background-color: #90C700;
}
.campaign_item .campaign_progress_wrap .campaign_progress.blue::before {
    background-color: #007FB5;
}
.campaign_item .campaign_progress_wrap .campaign_progress.purple::before {
    background-color: #F74497;
}
.campaign_item .campaign_progress_wrap .campaign_progress.violet::before {
    background-color: #814B9E;
}
.campaign_add {
    margin-left: auto;
    text-align: right;
    padding-left: 14px;
    border-left: 1px solid #EEEEEE;
    height: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
}
.campaign_add .add {
    width: 35px;
    height: 22px;
    background-color: #EEEEEE;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}
.campaign_add .add > span {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #BFBFBF;
    display: inline-block;
}

.campaign_add .date {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #8D8D8D;
    margin-top: 30px;
}


/* Modal Video */
.modal {
    position: fixed;    
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);    
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
    overflow: auto;
    background-color: #fff;
    /*padding-top: 127px;*/
    z-index: 999;
}
.modal_wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
}
.modal.open {
    opacity: 1;
    visibility: visible;
}
.modal_inner {
    padding-top: 84px;
    padding-bottom: 84px;
    padding-left: 50px;
    padding-right: 50px;
    background: #FFFFFF;
    position: relative;
}
.modal .close {
    top: 35px;
    right: 50px;
}
.modal .video-js {
    margin: 0 auto;
    max-width: 100%;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
    content: url(../img/video-play-big.svg);
}
.campaign_single .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
    content: url(../img/video-play-single.svg);
}
.campaign_single .video-js .vjs-big-play-button {
    height: 56px;
    width: 56px;
}
.video-js .vjs-big-play-button {
    height: 79px;
    width: 79px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all 0.4s;
    border: none;
    background-color: transparent;
}
.video-js:hover .vjs-big-play-button, 
.video-js .vjs-big-play-button:focus {
    border-color: transparent;
    background-color: transparent;
}

.campaign_content {
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #555555;
}
.campaign_item .campaign_title a.mark::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 7px;
    vertical-align: middle;
}
.campaign_item.active .campaign_title a.mark::after {
    background-color: #34E43B;
}
.campaign_item.disabled .campaign_title a.mark::after {
    background-color: #E4343F;
}
.campaign_counter {
    width: 30%;
    border-right: 1px solid #EEEEEE;
    height: 100%;
}
.campaign_counter_top {
    border-bottom: 1px solid #EEEEEE;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.campaign_counter_bottom {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.campaign_counter_top .current {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #19B100;
}
.campaign_counter_top .total::before {
    content: '/';
    display: inline-block;
    margin: 0 5px;
}

.campaign_counter_top .total {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #484848;
}

.campaign_counter_bottom .status {
    background: #F1F1F1;
    border-radius: 54px;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    height: 30px;
    line-height: 30px;
    color: #8D8D8D;
    display: inline-block;
    width: 120px;
    max-width: 100%;
    text-align: center;
}

:not(.vjs-has-started) .vjs-control-bar {
  display: flex;
} 

/*Campaign Single Page */
.campaign {
    margin-top: 15px;
}
.campaign_main, 
.campaign_chart {
    background-color: #fff;
    border-radius: 10px;
    padding: 17px 40px 40px 50px;
}
.campaign_chart {
    margin-top: 15px;
    padding-top: 125px;
    margin-bottom: 15px;
}
.campaign_chart .checkmarks {
    padding-left: 170px;
    padding-right: 170px;
    justify-content: space-between;
}
.campaign_chart .checkmark {
    position: relative;
    display: inline-block;
}
.campaign_chart .checkmark > span {
    font-size: 14px;
    line-height: 16px;
    color: #5F5F5F;
    font-weight: 300;
}
.campaign_chart .checkmark > span::before {
    display: inline-block;
    color: #fff;
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    line-height: 20px;
    text-align: center;
    margin-right: 13px;
    font-weight: 600;
}
.campaign_chart .checkmark img {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
}
.campaign_chart .checkmark:hover .checkmark_popup {
    opacity: 1;
    visibility: visible;
}
.campaign_chart .checkmark .checkmark_popup {
    padding: 15px 30px 26px 27px;
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    bottom: 2em;
    right: -40px;
    min-width: 279px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
}
.campaign_chart .checkmark .checkmark_popup::before {
    position: absolute;
    bottom: -10px;
    right: 43px;
    transform: translateX(50%);
    content: '';
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;      
    border-top: 10px solid #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.campaign_chart .checkmark .checkmark_popup .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}
.campaign_chart .checkmark .checkmark_popup .middle {
    justify-content: space-between;
    align-items: center;
}
.campaign_chart .checkmark .checkmark_popup .text {
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #8D8D8D;
    width: 75%;
    text-align: left;
}
.campaign_chart .checkmark .checkmark_popup .counter {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #3E3E3E;
}
.campaign_chart .checkmark .checkmark_popup .link {
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #6774E9;
}
.campaign_chart .checkmark .checkmark_popup .progress {
    position: relative;
    background: #D5D5D5;
    margin-top: 12px;
    border-radius: 3px;
    width: 100%;
    height: 6px;
}
.campaign_chart .checkmark .checkmark_popup .progress > span {
    position: absolute;
    top: 0;
    left: 0;
    background: #D5D5D5;
    border-radius: 3px;
    width: 33%;
    height: 6px;
}
.campaign_chart .checkmark.current > span::before {
    color: #363636;
}
.campaign_chart .checkmark.yellow > span::before {
    background-color: #FFC100;
}
.campaign_chart .checkmark.blue > span::before {
    background-color: #007FB5;
}
.campaign_chart .checkmark.violet > span::before {
    background-color: #814B9E;
}
.campaign_chart .checkmark.red > span::before {
    background-color: #F72615;
}
.campaign_chart .checkmark.green > span::before {
    background-color: #90C700;
}
.campaign_chart .checkmark.purple > span::before {
    background-color: #F74497;
}

.campaign_chart .checkmark.yellow .checkmark_popup .progress > span {
    background-color: #FFC100;
}
.campaign_chart .checkmark.blue .checkmark_popup .progress > span {
    background-color: #007FB5;
}
.campaign_chart .checkmark.violet .checkmark_popup .progress > span {
    background-color: #814B9E;
}
.campaign_chart .checkmark.red .checkmark_popup .progress > span {
    background-color: #F72615;
}
.campaign_chart .checkmark.green .checkmark_popup .progress > span {
    background-color: #90C700;
}
.campaign_chart .checkmark.purple .checkmark_popup .progress > span{
    background-color: #F74497;
}

.campaign_chart .checkmark.yellow .checkmark_popup .title {
    color: #FFC100;
}
.campaign_chart .checkmark.blue .checkmark_popup .title {
    color: #007FB5;
}
.campaign_chart .checkmark.violet .checkmark_popup .title {
    color: #814B9E;
}
.campaign_chart .checkmark.red .checkmark_popup .title {
    color: #F72615;
}
.campaign_chart .checkmark.green .checkmark_popup .title {
    color: #90C700;
}
.campaign_chart .checkmark.purple .checkmark_popup .title {
    color: #F74497;
}
.campaign_main .back {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #4A46F8;
}
.campaign_main .back::before {
    content: url(../img/back-icon.svg);
    display: inline-block;
    margin-right: 9px;
}
.campaign_main .date {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #8D8D8D;
    float: right;
    margin-top: 13px;
}
.campaign_single_content_wrap .video {
    width: 50%;
    border-radius: 10px;
    overflow: hidden;
}
.campaign_single_content_wrap .video-js {
    max-width: 100%;
}
.campaign_single_content {
    width: 50%;
    padding: 30px 0 0 65px;
}
.campaign_single_content .title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.campaign .campaign_single_content .title::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 7px;
    vertical-align: middle;
}

.campaign.active .campaign_single_content .title::after {
    background-color: #34E43B;
}
.campaign.disabled .campaign_single_content .title::after {
    background-color: #E4343F;
}
.campaign .campaign_single_content .status {
    padding-top: 20px;
    padding-bottom: 27px;
}
.campaign .campaign_single_content .status > span {
    font-weight: 300;
    font-size: 12px;
    line-height: 30px;
    color: #FFFFFF;
    background-color: #A8A8A8;
    border-radius: 54px;
    height: 30px;
    width: 120px;
    display: inline-block;
    text-align: center;
}
.campaign.active .campaign_single_content .status > span {
    background-color: #34E43B;
}
.campaign.disabled .campaign_single_content .status > span {
    background-color: #E4343F;
}
.campaign_single_content .campaign_counter {
    margin-left: 38px;
}
.campaign_single_content .campaign_counter .total {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #484848;
}
.campaign_single_content .campaign_counter .total::before {
    content: '/';
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px;
}
.campaign_single_content .campaign_counter .current {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #19B100;
}
.campaign_single_content .text,
.campaign_single_content .text p {
    font-size: 13px;
    line-height: 15px;
    color: #555555;
}
.campaign_single_content .rating_title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.campaign_single_content .rating_count {
    margin-top: 20px;
}
.campaign_single_content .rating_count > * {
    display: inline-block;
    vertical-align: top;
}
.campaign_single_content .rating_count > span {
    font-weight: bold;
    font-size: 36px;
    line-height: 77px;
    color: #3E3E3E;
    display: inline-block;
    width: 82px;
    height: 77px;
    background: #E3E3E3;
    border-radius: 10px;
    text-align: center;
    margin-right: 2px;
}

.campaign_single_content .rating_count > span.red {
    background-color: #F42F2F;
}
.campaign_single_content .rating_count > span.yellow {
    background-color: #F7E012;
}
.campaign_single_content .rating_count > span.green {
    background-color: #0BC513;
}
.campaign_single_content .download {
    float: right;
}
.campaign_single_content .download a {
    display: inline-block;
    padding: 15px 22px;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    background: #4A46F8;
    border-radius: 5px;
}

/*Add Campaign Page*/
.company_form .form {
    margin-top: 15px;
}
.company_form .form .form_step {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 35px 80px;
    margin-bottom: 15px;
}
.company_form .form .form_step.step1 {
    padding-bottom: 23px;
}
.company_form .form .form_step .step_title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-right: 23px;
}
.company_form .form .form_step.step1 .step_title {
    margin-right: 43px;
}
.company_form .form .form_step .step_header {
    margin-bottom: 16px;
}
.company_form .form .form_step .step_header > * {
    display: inline-block;
}
.company_form .form .form_step .step_count {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #949494;
}
.company_form .form .form_step .step_content .title {
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    margin-bottom: 8px;
    display: inline-block;
}

.company_form .form_column > input,
.company_form .form .nice-select,
.company_form .form .ms-parent.multiple {
    border: 0.5px solid #E4E4E4;
    border-radius: 2px;
    height: 38px;
    padding: 0 14px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 15px;
    color: #808080;
}
.company_form .form .ms-choice>span {
    line-height: 38px;
}
.company_form .form .form_row {
    margin: 0 -5px;
}
.company_form .form .form_column {
    margin: 0 5px;
    width: 290px;
    max-width: 33%;
}
.company_form .form textarea {
    min-height: 86px;
    width: 100%;
    padding: 11px 14px;
    resize: vertical;
    border: 0.5px solid #E4E4E4;
    border-radius: 2px;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 15px;
    color: #808080;
}
.company_form .form .nice-select {
    line-height: 38px;
}
.company_form .nice-select:after {
    content: url('../img/select-icon.svg');
    line-height: 66%;
    transform: none;
    border: none;
}
.company_form .nice-select.open:after {
    transform: rotate(180deg);
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    background: #E7E7E7;
    border: 0.5px solid #9D9D9D;
    border-radius: 2px;
    font-weight: 300;
    font-size: 13px;
    line-height: 134px;
    color: #808080;
    display: inline-block;
    width: calc(100% - 50px);
    height: 134px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.company_form .file_info {
    display: none;
    margin-top: 10px;
    font-size: 13px;
    line-height: 15px;
    color: #039700;
    margin-left: 40px;
}
.company_form .file_wrap {
    width: 414px;
    max-width: 33%;
}
.company_form .file_wrap > span:not(.file_info) {
    display: inline-block;
    margin-bottom: 15px;
    vertical-align: bottom;
    padding-right: 16px;
    font-size: 13px;
    line-height: 15px;
    color: #808080;
}
.step_header > span,
.step_header .custom_switch label {
    font-size: 13px;
    line-height: 15px;
    color: #808080;    
}
.step_header > span {
    margin-left: 60px;
}
.custom_switch .custom_control_label {
    position: relative;
}
.custom_switch {
    margin-left: 14px;
    padding-left: 58px;
}
.custom_switch .custom_control_label::before {
    width: 43px;
    height: 20px;
    pointer-events: all;
}
.custom_control_label::before {
    position: absolute;
    top: -2px;
    left: -58px;
    display: block;
    pointer-events: none;
    content: "";
    border-radius: 5px;
    background-color: #DDDDDD;
    cursor: pointer;
}
.custom_control_label::after {
    width: 21px;
    height: 20px;
    position: absolute;
    top: -2px;
    left: -58px;
    display: block;
    content: "";
    background: #4A46F8;
    border-radius: 5px;
    transition: left .3s;
    cursor: pointer;
}
.custom_control_input {
    position: absolute;
    z-index: -1;
    opacity: 0;
} 
.custom_control_input:checked~.custom_control_label::after {
    left: -36px;
}
.company_form .closable {
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    padding: 0 20px;
    padding-right: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.company_form .chosen {
    min-height: 86px;
    border: 0.5px solid #E4E4E4;
    border-radius: 2px;
    padding: 13px;
    margin-bottom: 10px;
}
.company_form .close::before,
.company_form .close::after {
    right: 15px;
}

.company_form .form_column > span {
    font-size: 13px;
    line-height: 15px;
    color: #808080;
}
.company_form .step2 .form_column:last-of-type {
    max-width: 218px;
}
.company_form .form .form_step.step2 .step_header > * {
    margin-bottom: 10px;
}
.company_form .step2 .step_content > p {
    font-size: 13px;
    line-height: 15px;
    color: #2D2D2D;
}

.company_form .step2 .content_link > a,
.company_form .step2 .content_link input,
.company_form .step2 .content_link .copy {
    font-size: 13px;
    line-height: 15px;
    color: #4A46F8;
    border: none;
}
.company_form .step2 .content_link input {
    min-width: 295px;
}
.company_form .step2 .content_link {
    border: 0.5px solid #E4E4E4;
    border-radius: 2px;
    padding: 12px 15px;
    display: inline-block;
}
.company_form .step2 .content_link .copy {
    margin-left: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.company_form .step_content .form_column > .show_count,
.company_form .step_content .form_column > p {
    font-size: 13px;
    line-height: 15px;
    color: #808080;
}
.company_form .step_content .form_column p .sum {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #535AF1;
    margin-left: 14px;
}
.company_form .step_content .form_column > .show_count {
    border: 0.5px solid #E4E4E4;
    border-radius: 2px;
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
    margin-bottom: 30px;
}

.company_form .step_content .form_column .add_card {
    border: 2px solid #535AF1;
    border-radius: 2px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: transparent;
    padding: 22px;
    height: 68px;
    width: 100%;
    cursor: pointer;
    transition: color .3s, background-color .3s;
}
.company_form .step_content .form_column .add_card:hover {
    color: #fff;
    background-color: #535AF1;
}
.company_form .step_content .form_column input[type=submit] {
    height: 68px;
    line-height: 68px;
    border: 2px solid #535AF1;
    border-radius: 2px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    background-color: #535AF1;
    padding: 22px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 0;
    transition: color .3s, background-color .3s;
}
.company_form .step_content .form_column input[type=submit]:hover {
    color: #000;
    background-color: transparent;    
}

.company_form .step3 .form_column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}